@import url('https://fonts.googleapis.com/css?family=Acme|Montserrat|Oleo+Script');

* {
        padding: 5px;
}

#profile-pic {
        border-radius: 50%;
        width: 15em;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.menu ul {
        list-style: none;
        text-align: left;
        padding: 0;
        margin: 0;
}
.menu li {
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
}

.menu a {
        text-decoration: none;
        color: #c4f0c5;
        border-bottom: 1px solid #c4f0c5;
}

.menu a:hover {
        color: #f1fff1;
        border-bottom: 1px solid #c4f0c5;
        transition: .3s background-color;
}

body {
        background: repeating-radial-gradient(#be3737, #6a0000 200px);
        color: #c4f0c5;
}

#header {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50em;
}

h1 {
        margin: 10px;
        text-align: center;
        font-family: 'Acme', sans-serif;
        font-size: 75px;
}

h2 {
        margin: auto;
        text-align: center;
        font-family: 'Acme', sans-serif;
        font-size: 35px;
}
p {
        width: 30em;
        margin: auto;
        text-align: left;
        font-family: 'Oleo Script', cursive;
        font-size: 18px;
}
