@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Lato|Raleway');

* {
	padding: 5px;
}

#profile-pic {
	border-radius: 50%;
	width: 15em;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: teal;
	color: azure;
}

#header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50em;
}

h1 {
	margin: 10px;
	text-align: center;
	font-family: 'Bungee Shade', cursive;
	font-size: 75px;
}

h2 {
	margin: auto;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 35px;
}
p {
	width: 45em;
	margin: auto;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}
