* {
	padding: 5px;
}

#profile-pic {
	border-radius: 50%;
	width: 15em;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: teal;
	color: white;
}

#header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50em;
}

h1 {
	text-align: center;
	font-family: 'Bungee Shade', cursive;
	font-size: 75px;
}

#main {
	margin-left: auto;
	margin-right: auto;
	width: 75em;
}

h2 {
	font-family: 'Nova Round', cursive;
	font-size: 35px;
}
p {
	text-align: left;
	font-family: 'Encode Sans Condensed', sans-serif;
	font-size: 25px;
}
